* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

@media (max-width: 768px) {
  html,
  body {
    overflow: hidden;
    height: 100%;
    overscroll-behavior: none;
  }
}
